/* Contenedores */
.buscador-slider{
    top: 25%;
    left: 50%;
    right: 10px;
}
.buscador-resultados{
    top: 160px;
    left: 160px;
    right: 160px;
}
/* Fondos */
.background-img{
    height: 250px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

/* Imagenes */
.img-tabla{
    width: 20%;
    height: 20%;
}

/* Inputs */
.borde-bajo{
    border: 1px solid #717fe0;
    border-left: 0px;
    border-top: 0px;
    border-right: 0px;
}

.borde-bajo-blanco{
    border: 1px solid white;
    border-left: 0px;
    border-top: 0px;
    border-right: 0px;
}

.sin-bordes{
    border-left: 0px;
    border-top: 0px;
    border-right: 0px;
    border-bottom: 0px;
}
